server {
    listen 80;

    server_name localhost {{ symfony_website_domain_name }};
    root {{ symfony_project_root }}/web;

    access_log /var/log/nginx/{{ symfony_website_domain_name | replace(".", "_") }}-access.log;
    error_log  /var/log/nginx/{{ symfony_website_domain_name | replace(".", "_") }}-error.log error;

    location / {
        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
    }

    {% if symfony_environment != 'production' %}
    # DEV
    # This rule should only be placed on your development environment
    # In production, don't include this and don't deploy app_dev.php or config.php
    location ~ ^/(app_.*|config)\.php(/|$) {
        fastcgi_pass {{ symfony_php_fpm_socket }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }
    {% endif %}

    # PROD
    location ~ ^/app\.php(/|$) {
        fastcgi_pass {{ symfony_php_fpm_socket }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    include /etc/nginx/global.d/*.conf;
}
